#button {
    -fx-font-size: 50px;
    -fx-font-family: "Helvetica";
    -fx-background-color: transparent;
    -fx-text-fill: Black;
}

#title {
    -fx-font-size: 65px;
    -fx-font-family: "Courier New";
    -fx-text-fill: Black;
}
