@font-face {
    src: url("ModernDOS8x8.ttf"),
}

.root {
  -fx-font-family: "Modern DOS 8x8";
}

.scroll-bar .thumb {
    -fx-background-color: #000000;
    -fx-background-radius: 0px;
}

.scroll-bar .track, .scroll-bar .decrement-button, .scroll-bar .increment-button, .scroll-pane, .scroll-bar .increment-arrow .content, .scroll-bar .decrement-arrow .content  {
    -fx-background-color: #ffffff;
    -fx-border-color: #ffffff;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow, .scroll-pane .corner {
    -fx-background-color: #000000;
}

.scroll-bar:vertical *.increment-arrow .content {
  -fx-background-color: #ffffff;
}

.background {
    -fx-background-color: #000000;
}

.gamebutton, .title {
    -fx-font-weight: 700;
    -fx-alignment: center;
    -fx-background-radius: 0px;
}

.gamebutton {
    -fx-font-size: 50px;
    -fx-min-width: 380px;
    -fx-padding: 15px;
    -fx-text-fill: #62fbf7;
    -fx-background-color: transparent;
}

.title {
    -fx-font-size: 65px;
    -fx-padding: 15px;
    -fx-text-fill: #62fbf7;
}

.lobbyBrowser {
    -fx-font-size: 15px;
    -fx-border-color: #ffffff;
}

.joinbutton {
    -fx-background-color: #000000;
    -fx-background-radius: 0px;
    -fx-text-fill: #ffffff;
}

.checkbox {
    -fx-text-fill: white;
    -fx-font-size: 25px;
    -fx-text-fill: #fe55f7;
    -fx-padding: 15px;
    -fx-background-radius: 0px;
}

.raceOverTimer {
    -fx-font-size: 30px;
    -fx-text-fill: #fe55f7;
    -fx-background-color: transparent;
    -fx-padding: 15px;
}

.textToType {
  -fx-text-fill: #62fbf7;
  -fx-font-size: 25px;
  -padding: 15px;
}

.enteredtext {
  -fx-font-size: 25px;
}

.ingameUserlabel {
  -fx-font-size: 20px;
  -fx-background-color: #ffffff;
}

.gameLobbyScrollpane {
    -fx-max-height: 300px;
    -fx-max-width: 640px;
    -fx-min-height: 200px;
    -fx-font-size: 20px;
}

.inputfield {
    -fx-max-width: 400px;
    -fx-min-height: 40px;
    -fx-font-size: 25px;
    -fx-background-color: #ffffff;
    -fx-background-radius: 0px;
    -fx-text-fill: #000000;
}

.userlist {
    -fx-min-height: 300px;
    -fx-min-width: 300px;
    -fx-max-width: 500px;
    -fx-font-size: 25px;
}

.lobbylist {
    -fx-background-color: #ffffff;
    -fx-border-color: #ffffff;
}

.podium {
  -fx-border-color: #ffffff;
  -fx-font-size: 50px !important;
}

.top {
  -fx-border-width: 5px 5px 0px 5px;
}

.right {
  -fx-border-width: 5px 5px 5px 5px;
}

.left {
  -fx-border-width: 5px 0px 5px 5px;
}

.first {
  -fx-font-size: 35px;
  -fx-text-fill: #62fbf7;
}

.second {
  -fx-text-fill: #fe55f7;
  -fx-font-size: 35px;
}

.third {
  -fx-text-fill: #ffffff;
  -fx-font-size: 35px;
}





