.background {
    -fx-background-color: linear-gradient(from 1% 100% to 100% 1%, #424242, #1C1C1C);
}

.labelscrollpane {
    -fx-max-height: 300px;
    -fx-max-width: 640px;
    -fx-min-height: 200px;
}

.listlabel {
    -fx-font-family: "Helvetica";
    -fx-font-size: 12px;
    -fx-pref-Height: 30px;
    -fx-pref-width: 450px;
}

.serverstatus {
    -fx-min-width: 18px;
    -fx-background-radius: 50px;
}

.serverstatus.green {
    -fx-background-color: #548b54;
}

.serverstatus.red {
    -fx-background-color: #ee2c2c;
}

.inputfield {
    -fx-max-width: 400px;
    -fx-min-height: 40px;
    -fx-font-size: 20px;
}

.userlist {
    -fx-min-height: 300px;
    -fx-min-width: 300px;
    -fx-max-width: 500px;
}

.checkbox {
    -fx-text-fill: white;
}

.button, .title {
    -fx-font-weight: 700;
    -fx-background-color: transparent;
    -fx-alignment: center;
    -fx-text-fill: linear-gradient(from 1% 100% to 100% 1%, #A4A4A4, #FAFAFA);
}

.button {
    -fx-font-family: "Helvetica";
    -fx-font-size: 50px;
}

.title {
    -fx-font-size: 65px;
    -fx-font-family: "Courier New";
}
