@font-face {
    src: url("ModernDOS8x8.ttf"),
}

.root {
  -fx-font-family: "Modern DOS 8x8";
}

.scroll-bar .thumb {
    -fx-background-color: #000000;
    -fx-background-radius: 0px;
}

.scroll-bar .track, .scroll-bar .decrement-button, .scroll-bar .increment-button, .scroll-pane, .scroll-bar .increment-arrow .content, .scroll-bar .decrement-arrow .content  {
    -fx-background-color: #ffffff;
    -fx-border-color: #ffffff;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow, .scroll-pane .corner {
    -fx-background-color: #000000;
}

.scroll-bar:vertical *.increment-arrow .content {
  -fx-background-color: #ffffff;
}

.background {
    -fx-background-color: #000000;
}

.gamebutton, .title {
    -fx-font-weight: 700;
    -fx-alignment: center;
    -fx-background-radius: 0px;
}

.gamebutton {
    -fx-font-size: 50px;
    -fx-min-width: 380px;
    -fx-padding: 15px;
    -fx-text-fill: #62fbf7;
    -fx-background-color: transparent;
}

.gamebutton:hover {
    -fx-text-fill: #fe55f7;
}

.countdownLabel {
    -fx-text-fill: #fe55f7;
    -fx-font-size: 80px;
    -fx-border-color: #fe55f7;
    -fx-border-width: 5px 5px 5px 5px;
    -fx-padding: 5px;
}

.title {
    -fx-font-size: 80px;
    -fx-padding: 15px;
    -fx-text-fill: #62fbf7;
    -fx-border-color: #fe55f7;
    -fx-border-width: 5px 5px 5px 5px;
}

.title:hover {
    -fx-text-fill: #fe55f7;
    -fx-border-color: #62fbf7;
}

.lobbyBrowser {
    -fx-font-size: 15px;
    -fx-border-color: #ffffff;
}

.joinbutton {
    -fx-background-color: #000000;
    -fx-background-radius: 0px;
    -fx-text-fill: #ffffff;
}

.checkbox {
    -fx-text-fill: white;
    -fx-font-size: 25px;
    -fx-text-fill: #fe55f7;
    -fx-padding: 15px;
    -fx-background-radius: 0px;
}

.timeDisplay {
    -fx-font-size: 30px;
    -fx-text-fill: #fe55f7;
    -fx-background-color: transparent;
    -fx-padding: 15px;
}

.textToType {
  -fx-text-fill: #62fbf7;
  -fx-font-size: 20px;
  -padding: 15px;
}

.enteredtext {
  -fx-font-size: 20px;
}

.ingameUserlabel {
  -fx-font-size: 20px;
  -fx-background-color: #ffffff;
}

.inputfield {
    -fx-max-width: 400px;
    -fx-min-height: 40px;
    -fx-font-size: 25px;
    -fx-background-color: #ffffff;
    -fx-background-radius: 0px;
    -fx-text-fill: #000000;
}

.list-cell {
    -fx-font-size: 20px;
}

.lobbylist {
    -fx-background-color: #ffffff;
    -fx-border-color: #ffffff;
}

.lobbychat {
    -fx-background-color: #ffffff;
    -fx-border-color: #ffffff;
}

.podium {
  -fx-border-color: #ffffff;
  -fx-font-size: 50px !important;
}

.top {
  -fx-border-width: 5px 5px 0px 5px;
}

.right {
  -fx-border-width: 5px 5px 5px 5px;
}

.left {
  -fx-border-width: 5px 0px 5px 5px;
}

.first {
  -fx-font-size: 25px;
  -fx-text-fill: #62fbf7;
}

.second {
  -fx-text-fill: #fe55f7;
  -fx-font-size: 25px;
}

.third {
  -fx-text-fill: #ffffff;
  -fx-font-size: 25px;
}

.radio-button .radio {
  -fx-background-color: #62fbf7;
  -fx-background-radius: 0px;
  -fx-border-radius: 0px;
}
.radio-button .dot {
  -fx-mark-highlight-color: #fe55f7;
  -fx-mark-color: #fe55f7;
  -fx-background-radius: 0px;
}

.imageview {
  -fx-background-color: #ffffff;
}

.check-box .box {
  -fx-background-color: #62fbf7;
  -fx-background-radius: 0px;
  -fx-padding: 5px;
}

.check-box .mark {
  -fx-mark-highlight-color: #fe55f7;
  -fx-mark-color: #fe55f7;
  -fx-background-radius: 0px;
  -fx-shape: none;
}

.buttonGamescreen {
   -fx-text-fill: #62fbf7;
   -fx-border-color: #fe55f7;
   -fx-font-size: 30px;
   -fx-padding: 5px;
   -fx-border-width: 3px 3px 3px 3px;
   -fx-background-color: transparent;
}

.buttonGamescreen:hover {
   -fx-border-color: #62fbf7;
   -fx-text-fill: #fe55f7;
}

.gameLabel {
   -fx-text-fill: #62fbf7;
   -fx-font-size: 30px;
}




